.modal__conatiner {
  z-index: 40;
  position: absolute;
  top: 0;
  min-height: 800px;
  height: 100%;
  width: 100%;
  background: rgba(98, 98, 98, 0.8);
}
.modal__content {
  z-index: 20;
  @apply px-4 py-8 md:px-12 rounded-xl md:max-w-3xl w-[90%];
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__input {
  border-radius: 0.75rem;
  border: 1px solid #f0f0f0;
  padding: 18px 24px;
  font-size: 0.9rem;
  font-weight: 500;
}
