.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.underline__1,
.underline__2 {
  position: absolute;
  z-index: -2;
  top: 24%;
  left: 34%;
  height: 21px;
  @apply bg-cookLightYellow lg:w-[36rem] lg:left-[40%] w-[18rem] left-[18%] top-[18%];
}
.underline__2 {
  z-index: -1;
  top: 21%;
  left: 30%;
  height: 21px;
  @apply bg-cookLime;
}
.downArrow__container {
  @apply mx-auto mt-6;
  position: relative;
  width: 100px;
  height: 45px;
}
.arrow {
  position: absolute;
  left: 50%;
}
.ellipse {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: -1;
}
