.heading {
  position: relative;
  display: flex;
  flex-direction: column;
}
.underline__1,
.underline__2 {
  position: absolute;
  z-index: -2;
  top: 54px;
  left: 29%;
  height: 21px;
  width: 48%;
  @apply bg-cookLightYellow;
}
.underline__2 {
  z-index: -1;
  top: 60px;
  left: 27%;
  height: 21px;
  width: 42%;
  @apply bg-cookLime;
}
.downArrow__container {
  @apply mx-auto mt-6;
  position: relative;
  width: 100px;
  height: 45px;
}
.arrow {
  position: absolute;
  left: 50%;
}
.ellipse {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: -1;
}
