@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@400;500;600;700&family=Satisfy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
:root {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#root {
  min-height: 100vh;
}
